Back slash is used to print the content in the next line

In [4]:
print ("Hello \
       World")

Hello        World

In [7]:
print (""" triple quotes is used to write sql queries""")

 triple quotes is used to write sql queries

In [11]:
print ("Adam's World")

Adam's World

In [12]:
print ("Hello\t python")

Hello	 python

In [13]:
print ("Hello\n python")

Hello
 python

In [15]:
print ('adam\'s python')

adam's python

In [21]:
name="xyz"
marks=35.90
age=25
print ("the name of the person is",name ,"marks is", marks,"age is ", age)

the name of the person is xyz marks is 35.9 age is  25

In [22]:
print ("the name of the person is %s marks is %f and age is %d"%(name,marks,age))

the name of the person is xyz marks is 35.900000 and age is 25

In [24]:
print ("the name of the person is %10s marks is %10.2f and age is %d"%(name,marks,age))

the name of the person is        xyz marks is      35.90 and age is 25

In [25]:
print (f"The name of the person is {name} marks is {marks} and age is {age}")

The name of the person is xyz marks is 35.9 and age is 25

In [26]:
x=10

In [27]:
id(x)

140735174058672

In [28]:
y=10

In [29]:
id(y)

140735174058672

In [30]:
del x

In [35]:
x

NameError: name 'x' is not defined

In [36]:
y

10

In [37]:
power=5**2

In [38]:
power

25

In [39]:
10+20

30

In [40]:
20-2

18

In [41]:
10/2

5.0

In [42]:
15*2

30

In [43]:
17//2

8

In [58]:
a=10

In [59]:
b=10

In [60]:
a++b

20

In [61]:
a==b

True

In [62]:
a<b

False

In [63]:
a>b

False

In [64]:
a<=b

True

In [65]:
a>=b

True

In [66]:
a!=b

False

In [68]:
a=a+b
a

30

In [69]:
a+=b

In [70]:
a

40

In [71]:
a/=b

In [72]:
a

4.0

In [76]:
x=10

In [78]:
y=20

In [81]:
x>=10 and y>=20

True

In [82]:
x>=10 or y>=20

True

In [84]:
not x>20

True

In [90]:
str1="Pytho Programming"

In [91]:
"a" in str1

True

In [92]:
"a" not in str1

False

In [93]:
a=10
b=10
a==b

True

In [94]:
id(a)

140735174058672

In [95]:
id(b)

140735174058672

In [96]:
x=1.5
y=1.5
x==y

True

In [97]:
x is y

False

In [98]:
id(x)

3005138986032

In [99]:
id(y)

3005128309616

In [100]:
a=257

In [101]:
b=257

In [102]:
a==b

True

after 256 its different memory location in int thats why we get a is b as false

In [104]:
a is b

False

In [105]:
g=10+10/5*5

In [106]:
g

20.0

Its equivalent to 10>8 and 8>9 = results in false

In [107]:
  10>8>9

False